body{
    background:linear-gradient(to right, #0E1629, #101b35);    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.logo span {
    color: #38BDF8;
}

.navbutton{
    text-decoration: none;
    color:white;
    margin: 20px 20px 20px 20px;
    font-size: 20px;
}




.image-photo{
    width: 50px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #1E293B;
    color: #8ca9fa;
    font-size: 10px;
}